node_modules

p{ceci est une petite histoire, il faudra deviner comment ça va derouler 


The wind is blowing, a butterfly lands on top of a flower petal, clapping its wings gently. Suddenly it flies away, startled by something happening nearby. In the high grass something is moving, a human limp flaps up. A femine figure is distinguishable, it's a women, gently opening her eyes, yet squinting them because of sun rays hitting her full-on. She gets up and lets out a loud moan, triggered by a shooting pain that seems to arise from the back of her light leg. She tries to get gently up, as she slowly turns around to check the area from where the pain is arising she sees a shard of wood sticking out of her thigh